nav {
    background-color:rgb(255, 255, 136)  /* Replace with your desired color */
  }
  
  .active {
    color: rgb(182, 107, 107); /* Change the active link color to blue */
    font-weight: bold; /* Make the active link bold */
  }
  ul{

  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

link{
  text-decoration: none;
}

ul li {
  /* color: darkblue; */
  margin: 5px;
}
.moon-icon {
    color: white;
    stroke: black; /* Set the stroke color to black */
    stroke-width: 10; /* Adjust the stroke width as needed */
  
  }
  
  /* CSS for the filled moon icon (dark mode) */
  .moon-icon.filled {
    color: rgb(88, 85, 85); /* Change the color to your preferred dark mode color */
    border-color: transparent; /* Remove the border when filled */
  }
  